<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.example.springbootdemo.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.example.springbootdemo.entity.User">
        <result column="id" jdbcType="INTEGER" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="city" jdbcType="VARCHAR" property="city" />
        <result column="age" jdbcType="INTEGER" property="age" />
    </resultMap>

    <select id="findAll" resultType="com.example.springbootdemo.entity.User">
        SELECT * FROM user
    </select>
</mapper>